
{% extends 'layout.html' %}
{% block body %}
<html>
<head>

    <h1>
        Welcome to the Login Page
    </h1>
</head>
<body>
    <form>
        <input type="text" name="username" placeholder="Enter username here"><br>
        <input type="password" name="password" placeholder="Enter the password here"><br>
        <input type="text" name="firstname" placeholder="Enter your First name here"><br>
        <input type="text" name="lastname" placeholder="Enter your Last name here"><br>
        <input type="number" name="age" placeholder="Enter your age here"><br>
        <input type="text" name="email" placeholder="Enter your email here"><br>
        <input type="submit">
    </form>
</body>







</html>
{% endblock %}  